@using System.Globalization;
@model IEnumerable<Product>
@foreach (var item in Model)
{
    <div class="item features-image сol-12 col-md-6 col-lg-4">
        <div class="item-wrapper">
            <div class="item-img">
                <img src="@item.PicturePath" alt="Coffee Shop" title="">
            </div>
            <div class="item-content">

                <h6 class="item-subtitle mbr-fonts-style mt-1 display-7"><strong>@item.ItemName.Substring(0,20)</strong></h6>
                <p class="mbr-text mbr-fonts-style mt-3 display-7">@item.Price.ToString("C0",CultureInfo.CurrentCulture) TL</p>
            </div>
            <div class="mbr-section-btn item-footer mt-2"><a href="" class="btn item-btn btn-primary display-4" target="_self"><span class="mbrib-cart-add mbr-iconfont mbr-iconfont-btn"></span>Add to cart</a></div>
        </div>
    </div>
}
